# frontend-only envs
NEXT_PUBLIC_HOST="http://localhost:3000"
NEXT_PUBLIC_VAULT_URL="https://vault.affinidi.com/claim?credential_offer_uri="
NEXT_PUBLIC_AFFINIDI_TDK_ENVIRONMENT="prod"
NEXT_PUBLIC_IOTA_CONFIGURATION_ID=""
NEXT_PUBLIC_IOTA_QUERY_ID_PROFILE=""
NEXT_PUBLIC_CREDENTIAL_TYPE_ID="R0"

# backend-only envs
LOG_LEVEL="debug"
AUTH_JWT_SECRET="this-is-very-secret-dont-tell-anyone"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="this-is-very-secret-dont-tell-anyone"

PROVIDER_CLIENT_ID="yourData"
PROVIDER_CLIENT_SECRET="yourData-yourData"
PROVIDER_ISSUER="https://yourData"

PROJECT_SCOPE_TOKEN=""
VERIFIER_API_URL="https://apse1.api.affinidi.io/ver"
API_GATEWAY_URL="https://apse1.api.affinidi.io"
PROJECT_ID="cyourData"
OAUTH_TOKEN_ENDPOINT="https://apse1.auth.developer.affinidi.io/auth/oauth2/token"
KEY_ID="yourData"
TOKEN_ID="yourData"
PASSPHRASE="top-secret-for-fun"
PRIVATE_KEY="yourData"
PUBLIC_KEY="yourData"